@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}


@section mainDiv{
    <br/>
    <div class="breadcrumb">
        <a href="~/Main.cshtml">Home</a> > <a href="~/About.cshtml">About</a>
    </div>


    <hgroup class="title">
        <h2>All About Theodore!</h2>
    </hgroup>

    <img src="http://i68.tinypic.com/nq90h.jpg" />

    <div>
        Theodore Costigan is a half American Bulldog and half Siberian Husky. 
        He is 2 and a half years old, his birthday is August 9, 2015. 
        Theo is well-behaved and affectionate towards everyone!
    </div>

}
