@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

@section mainDiv{
<h2>Welcome to Theodore's Fan Page</h2>

    <div><img src="http://i65.tinypic.com/t7ojut.jpg"</div>

    <div class="fanpage">
        <h4>On this website you'll be able to:</h4>
        <ul>
            <li>Learn all about our favourite lovable pup!</li>
            <li>Find out Theo's favourite things (and people)!</li>
            <li>View awesome EXCLUSIVE pictures!</li>
            <li>Sign Up for an email newsletter!</li>
        </ul>
    </div>

}
