@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Theo's Favourites";
}

@section mainDiv{
    
    <br/>
<div class="breadcrumb">
    <a href="~/Main.cshtml">Home</a> > <a href="~/TheoFave.cshtml">Theo's Faves</a>
</div>

    <h2>Theo's Favourites!</h2>

    <div>
        <h4>Theo loves to cuddle!</h4>
        <img src="http://i68.tinypic.com/t56j9j.jpg" />
    </div>
    <br />
    <div>
        <h4>He loves to sit on the balcony and people/pup watch!</h4>
        <img src="http://i64.tinypic.com/28gtil2.jpg" />
    </div>
    <br />
    <div>
        <h4>Theo loves to take naps! He's a lazy pup.</h4>
        <img src="http://i68.tinypic.com/20jgv84.jpg" />
    </div>

    <br /><br />

    <div>
        <h4>Something Theo does NOT like though,<br />is when mom leaves for work or school.</h4>
        <img src="http://i66.tinypic.com/2iqfjhj.jpg" />
    </div>

}
